<h4>Dealer's cards</h4>

<% session[:dealer_hand].each do |card| %>
  <%= generate_pic_url(card) %>
<% end %>

<h4>
  Toby's cards                                                <span>&cir;</span>
  Total points: <%= calculate_total(session[:player_hand]) %> <span>&cir;</span>
  Bet: $<%= session[:player_bet] %>                           <span>&cir;</span>
  Cash: $<%= session[:player_cash] %>
</h4>

<% session[:player_hand].each do |card| %>
  <%= generate_pic_url(card) %>
<% end %>

