<h4>
  Toby's cards
  <% if session[:player_turn] %>
    <span><%= random_suit %></span>Total: <%= calculate_total(session[:player_hand]) %>
    <span> <%= erb :_hit_stay_buttons %></span>
  <% else %>
    <span><%= random_suit %></span>Total: <%= calculate_total(session[:player_hand]) %>
  <% end %>
</h4>

<% session[:player_hand].each do |card| %>
  <%= generate_pic_url(card) %>
<% end %>

