<div id='game'>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
    
        <div class='brand'>Sinatra Shouts Blackjack!</div>
        <% if @game_over %>
          <ul class='nav'>
            <li><a href='/new_game'>New Game</a></li>
            <li><a href='/about'>About</a></li>
          </ul>
        <% end %>
    
      </div>
    </div>
  </div>

  <div class='container'>
    
    <%if @error %>
      <div class='alert alert-error'><%= @error %></div>
    <% end %>
    <%if @success %>
      <div class='alert alert-success'><%= @success %></div>
    <% end %>
    <%if @warning %>
      <div class='alert alert-info'><%= @warning %></div>
    <% end %>

    <% if session[:player_turn] %>

      <h4>Dealer's cards</h4>
      <img src='/images/cards/cover.png' />
      <%= generate_card_image_url(session[:dealer_hand][1]) %>

    <% else %>

      <h4>
        Dealer's cards 
        <span class='pad20px'><%= random_suit %></span>
        Total: <%= dealer_hand_total %>
      </h4>

      <% session[:dealer_hand].each do |card| %>
        <%= generate_card_image_url(card) %>
      <% end %>

    <% end %>

    <h4>
      <%= session[:player_name] %>'s cards

      <span class='pad20px'><%= random_suit %></span> Total: <%= player_hand_total %>
      <span class='pad20px'><%= random_suit %></span> Bet: $<%= session[:player_bet] %>
      <span class='pad20px'><%= random_suit %></span> Cash: $<%= session[:player_cash] %>

      <% if session[:player_turn] %>
        
        <span class='pad20px'>

          <form id='hit_form' action='/player/hit' method='POST'>
            <input type='submit' class='btn' value='Hit' />
          </form>

          <form id='stay_form' action='/player/stay' method='GET'>
            <input type='submit' class='btn' value='Stay' />
          </form>

        </span>
      
      <% else %>
        
        <span class='pad20px'>

          <form id='new_hand' action='/new_hand' method='POST'>
            <input type='submit' class='btn' value='New Hand' />
          </form>

          <form id='vegas' action='/vegas' method='GET'>
            <input type='submit' class='btn' value='Quit Game' />
          </form>

        </span>
    
      <% end %>
    </h4>

    <% session[:player_hand].each do |card| %>
      <%= generate_card_image_url(card) %>
    <% end %>
  
  </div>
</div>

