<h4>Dealer's cards</h4>

<img src=/images/cards/cover.png />
<% session[:dealer_hand].drop(1).each do |card| %>
  <%= generate_pic_url(card) %>
<% end %>

<h4><%= session[:player_name] %>'s Cards</h4>

<% session[:player_hand].each do |card| %>
  <%= generate_pic_url(card) %>
<% end %>

<h4>bet: $<%= session[:player_bet] %> total points: <%= calculate_total(session[:player_hand]) %></h4>
<%= erb :player_hit %>
